*.ph
*.o
*.asm
*~
*.swp
*.exe
forth_chain.h
compiler_chain.h
version.h
Makefile
env.h
envtest
muforth
muforth32
muforth64
public.h
public.h.new
platform.mk
arch.mk
commit.mu4
serial-target
*.img
all-thumb16.*
