*.ph
*.o
*.asm
*.exe
muforth
muforth32
muforth64
forth_chain.h
compiler_chain.h
runtime_chain.h
version.h
muhome.h
Makefile
env.h
envtest
.public.h
public.h
arch.mk
local.mk
udev.nix
99-muforth.rules
99-muforth-uid.rules
